/* about me page */

.about-me__img img {
    border-radius: 20px;
    width: 50%;

    margin-left: 10%;
}

.about-me__h1 {
    font-family: 'Caveat', cursive;
    font-size: 8em;
    line-height: 80%;
    color: #3E2E3B;
}

.about-me__container {
    padding-top: 15vh;
    padding-bottom: 15vh;

    display: grid;
    width: 100%;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    justify-items: center;
    justify-content: space-around;

    scroll-margin-top: 8em;

    .about-me__text {
        width: 80%;
        line-height: 1.7rem;
        text-align: left;
    }

    .about-me__text2 {
        color: black;
        font-family: Caveat;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 45.4px;
    }

}

.about-me__main {
    display: flex;
    flex-direction: column;

    margin-right: 10%;
}