/* experience page */

.experience__img img {
    border-radius: 20px;
    width: 50%;

    margin-left: 10%;
}

.experience__h1 {
    font-family: 'Caveat', cursive;
    font-size: 8em;
    line-height: 80%;

    color: #3E2E3B;
}

.experience__container {
    display: grid;
    width: 100%;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    justify-items: center;
    justify-content: space-around;

    .experience__list {
        line-height: 27.6px;
    }
}

.experience__main {
    display: flex;
    flex-direction: column;
    justify-items: center;

    margin-right: 10%;
}