/* experience page */

.experience__img {

    .experience__img img {
        width: 50%;
    }
}

.experience__h1 {
    font-family: 'Caveat', cursive;
    font-size: 6.5em;
    line-height: 80%;

    color: #3E2E3B;
}

.experience__container {
    display: flex;
    width: 100%;

    .experience__list {
        line-height: 1.9rem;
        width: 65%;
    }

    margin-left: 10%;
    margin-right: 10%;
}

.experience__main {
    display: flex;
    flex-direction: row;
    justify-items: center;

    margin-right: 10%;

    .experience__text-main {
        flex-direction: column;
    }
}