// First page
.first-page__container {
    display: grid;
  

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;

    align-items: stretch;
    justify-items: center;
    justify-content: center;

    scroll-margin-top: 15em;
   
}

.first-page__main {
    display: flex;
    flex-direction: column;
   
}

.first-page__title {

    margin-left: 0px;
    margin-top: 5%;
    margin-bottom: 0px;
    
 
}

.first-page__title__text {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    font-size: 7em;
    line-height: 0.8em;
    color: #3E2E3B;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20%;
} 

.first-page__title__line {
    margin-top: 0px;
}
    



.first-page__subtitle {

    margin-left: 25%;

    font-family: 'Caveat';
    font-size: 1.5em;
    line-height: 60%;
    color: #3E2E3B;
}

.first-page__text {

    margin-left: 25%;
    font-size: 1rem;
        
}

.first-page__item {

    list-style-type: disc;
    margin-bottom: 10px;
}

.first-page__link {

    margin-left: 15%;
    
    
}

.first-page__button {

    background-color: $button-color-one;
    border: 1px solid $button-color-one;
    border-radius: 50px;
    color: $button-text-color;
    cursor: pointer;
    display: inline;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.7em;
    margin: 0;
    outline: none;
    padding: 10px;
    // position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .3s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: 303px;
}

.first-page__button:hover {
    border: 1px solid $button-text-color;
}

.first-page__img {
    grid-area: 1 / 2 / span 2 / span 1;
    width: 75%;

    margin-left: 0px;
    margin-top: 3%;
    align-self: stretch;
    justify-self: center;
}