// First page
.first-page__container {
    display: grid;
    width: 100%;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    align-items: stretch;
    justify-items: center;

    scroll-margin-top: 15em;
   
}

.first-page__main {
    display: flex;
    flex-direction: column;


}

.first-page__title {

    margin-left: 17%;

    font-family: 'Caveat', cursive;
    font-size: 10em;
    line-height: 60%;
    color: #3E2E3B;
}

.first-page__subtitle {

    margin-left: 17%;

    font-family: 'Caveat';
    font-size: 3em;
    line-height: 60%;
    color: #3E2E3B;
}

.first-page__text {

    margin-left: 17%;

    font-size: 1.5em;
    
}

.first-page__item {

    list-style-type: disc;
}

.first-page__link {

    margin-left: 17%;



}

.first-page__button {

    background-color: $button-color-one;
    border: 1px solid $button-color-one;
    border-radius: 50px;
    color: #3E2E3B;
    cursor: pointer;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.7em;
    margin: 0;
    outline: none;
    padding: 10px;
    // position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
    user-select: none;
    -webkit-user-select: none;
    width: 303px;
}

.first-page__button:hover {
    border: 1px solid $button-text-color;
}

.first-page__img {
    
    width: 75%;

    margin-left: 10%;
}