/*  Header */

.header__container {
    position: sticky;
    -webkit-position: sticky;
    top: 0;
    display: grid;
    width: 98vw;

    grid-template-columns: 14.3% 1fr;
    grid-template-rows: 1fr;

    // justify-content: space-evenly;  
    // justify-items: stretch;
    color: #3E2E3B;

    background-color: $background-color;
    z-index: 10;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.header__nav {
    display: flex;
    width: 100%;

    justify-content: space-evenly;
    justify-items: center;
}

.header__logo-link {

    width: 75%;
    justify-self: center;

    margin-top: 15%;

    transition: 1s;



}

.header__logo {

    width: 100%;
}

.header__logo-link:hover {

    transform: scale(1.04);
    //width: 80%;

}

.header__link {


    text-align: center;
    text-wrap: nowrap;

    align-self: center;

    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    transition: 1.5s;
    //transition: width 1s;

}

.header__nav a:hover {
    color: $hover-line-color;
    transform: scale(1.1);
    //font-size: 1.6rem;
}

.header__contact img {
    transition: 1s;
}

.header__contact img:hover {
    transform: scale(1.1);
}

.header__contacts {
    display: flex;
    flex-direction: row;

    align-self: center;

    align-items: center;
}

//.header__contact {
//  max-width: 77.8px;
//}

//.header__contact:hover {
//  max-width: 90px;

//}

.mobile-header__container {

    display: none;
}