/*  Header */

.header__container {
    position: sticky;
    -webkit-position: sticky;
    top: 0;
    display: grid;
    width: 100%;

    grid-template-columns: 14.3% 1fr;
    grid-template-rows: 1fr;

    // justify-content: space-evenly;  
    // justify-items: stretch;
    color: #3E2E3B;

    background-color: $background-color;
    z-index: 10;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.header__nav {
    display: flex;
    width: 100%;
   
    justify-content: space-evenly;
    justify-items: center;
}

.header__logo-link {
   
    width: 75%;
    justify-self: center;

    margin-top: 15%;


        
}

.header__logo {
     
    width: 100%;
}

.header__logo-link:hover {

    width: 80%;
    
}

.header__link {

      
    text-align: center;
    text-wrap: nowrap;

    align-self: center;
  
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    transition: width 1s;
  
}

.header__link:hover {
    color: $hover-line-color;
    font-size: 1.6em;
}

.header__contacts {
    display: flex;
    flex-direction: row;

    align-self: center;

    align-items: center;
}

.header__contact {
    width: 77.8px;
}

.header__contact:hover {
    width: 90px;
   
}