/*  Header */

.header__container {
    position: sticky;
    -webkit-position: sticky;
    top: 0;
    display: grid;
    width: 100%;

    grid-template-columns: 15% 1fr;
    grid-template-rows: 1fr;

    // justify-content: space-evenly;  
    // justify-items: stretch;

    background-color: $background-color;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.header__nav {
    display: flex;
    width: 100%;
   
    justify-content: space-evenly;
    justify-items: center;
}

.header__logo-link {
   
    width: 75%;
    justify-self: center;
    
}

.header__logo {
     
    width: 100%;
}

.header__logo-link:hover {

    width: 80%;
    
}

.header__link {

      
    margin: 5% 1% 5% 1%;
    text-align: center;
    text-wrap: nowrap;
  
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    transition: width 1s;
  
}

.header__link:hover {
    text-decoration: underline;
    color: $hover-line-color;
}