@import 'variables.scss';
@import 'header.scss';
@import 'first-page.scss';
@import 'about-me.scss';
@import 'values.scss';
@import 'experience.scss';
@import 'requests.scss';
@import 'prices.scss';
@import 'reviews.scss';
@import 'footer.scss';
@import 'index-media.scss';


body {
    color: $main-text-color;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    background-color: $background-color;
    scroll-behavior: smooth;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 100px;
}

img {
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    transition: .25s ease;
}

li {
    list-style: none;
}