

@font-face {
    font-family: 'Leafy Extended';
    src: url('LeafyExtended.eot');
    src: local('Leafy Extended'), local('LeafyExtended'),
        url('./fonts/LeafyExtended/LeafyExtended.eot') format('embedded-opentype'),
        url('./fonts/LeafyExtended/LeafyExtended.woff2') format('woff2'),
        url('./fonts/LeafyExtended/LeafyExtended.woff') format('woff'),
        url('./fonts/LeafyExtended/LeafyExtended.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@import 'variables.scss';
@import 'index-media.scss';

body {
    color: $main-color;
    font-family: 'Roboto', sans-serif;
}


* {
    box-sizing: border-box;
}
  
a {
    color: inherit;
    text-decoration: none;
    transition: .25s ease;
}
  
li {
    list-style: none;
}
  
@import 'header.scss';  
@import 'about-me.scss';
@import 'footer.scss';