@import 'variables.scss';
@import 'header.scss';
@import 'first-page.scss';
@import 'about-me.scss';
@import 'values.scss';
@import 'experience.scss';
@import 'requests.scss';
@import 'prices.scss';
@import 'reviews.scss';
@import 'screenshots.scss';
@import 'footer.scss';
@import 'index-media.scss';

body {
    color: $main-text-color;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    background-color: $background-color;
    scroll-behavior: smooth;
}

.about-me__h1,
.values_h1,
.experience__h1,
.requests__h1,
.prices__h1,
.reviews__h1,
.screenshots__h1 {
    font-size: clamp(2.375rem, 1.011rem + 5.822vw, 6.25rem);
}

.reviews__results-text,
.reviews__text-big,
.reviews__list,
.screenshot__text {
    font-size: clamp(0.688rem, 0.577rem + 0.469vw, 1rem);
}

h1 {
    font-family: 'Caveat', cursive;
    //font-size: 100px;
}

img {
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    transition: .25s ease;
}

li {
    list-style: none;
}