/*  Prices */

.prices__container {
    margin-left: 10%;
    margin-right: 10%;
    scroll-margin-top: 4em;
    padding-top: 5%;
}

.prices__h1 {
    font-family: "Caveat", cursive;
    font-size: 4.2em;
    line-height: 80%;
    color: #3E2E3B;
    font-weight: 400;
}



.btn_sign {
    background-color: #E2B2B5;
    border: 1px solid #E2B2B5;
    border-radius: 50px;
    color: #3E2E3B;
    cursor: pointer;
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.7rem;
    margin: 0;
    outline: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s, transform 0.1s;
    user-select: none;
    -webkit-user-select: none;
    width: 303px;
}

.btn_sign:hover {
    border: 1px solid #222222;
}

.prices__container-3 {
    display: flex;
    justify-content: space-evenly;
    gap: 5%;
}

.services {
    border: solid 3px #E2B2B5;
    border-radius: 5%;
    padding: 2%;
    width: 33%;
    
    display: grid;
    justify-items: center;
    justify-content: center;
    text-align: center;
}

.services_name {
    font-size: 1rem;
    font-weight: 700;
    color: #3E2E3B;
}


.services_text {
    font-size: 1rem;
    font-weight: 400;
}


/*  Prices for students*/

.prices__container-students {
    margin-left: 10%;
    margin-right: 10%;
    
    padding-top: 5%;
    padding-bottom: 8%;
}

.prices__container-2 {
    display: flex;
    justify-content: flex-start;
    gap: 4%;
}

.services_students {
    border: solid 3px #B9D0DF;
    border-radius: 5%;
    padding: 2%;
    width: 33%;
    
    display: grid;
    justify-items: center;
    justify-content: center;
    text-align: center;
}

.services_name_students {
    font-size: 1rem;
    font-weight: 700;
    color: #3E2E3B;
}

.services_text_students {
    font-size: 1rem;
    font-weight: 400;
}

.btn_sign-students {
    background-color: #B9D0DF;
    border: 1px solid #B9D0DF;
    border-radius: 50px;
    color: #3E2E3B;
    cursor: pointer;
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.7rem;
    margin: 0;
    outline: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s, transform 0.1s;
    user-select: none;
    -webkit-user-select: none;
    width: 303px;
}

.btn_sign-students:hover {
    border: 1px solid #222222;
}