/*  Prices */

.prices__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr 1fr;
    gap: 10%;
    justify-content: center;
    justify-items: center;

    scroll-margin-top: 10em;
}

.prices__h1 {
    font-family: 'Caveat', cursive;
    font-size: 8em;
    line-height: 80%;
    padding-left: 10%;
    display: grid;
    grid-column: 1/3;
    justify-content: center;
    align-items: center;
}

.services_text {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.5em;
}

.btn_sign {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 8px;
    color: #222222;
    cursor: pointer;
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 0;
    outline: none;
    padding: 13px 23px;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s, transform 0.1s;
    user-select: none;
    -webkit-user-select: none;
    width: auto;
}

.services {
    border: solid 1px none;
    border-radius: 5%;
    background-color: #E2B2B5;
    width: 30em;
    height: 30em;
    display: grid;
    grid-row: 2;
    justify-content: center;
    align-items: center;
    justify-items: center;
}