/* requests */

.requests__container-main {
    margin-left: 10%;
    margin-right: 10%;

    scroll-margin-top: 15em;
}

.requests__h1 {
    font-size: 6.5em;
    color: #3E2E3B;
}

.requests__text {
    list-style: circle;
}