/* requests */

.requests__container-main {
    margin-left: 10%;
    margin-right: 10%;

    scroll-margin-top: 15em;
}

.requests__h1 {
    /*font-size: 4.2em;*/
    line-height: 0.8em;
    color: #3E2E3B;
    font-weight: 400;
}

.requests__text {
    list-style: disc;
    font-size: 1rem;
    margin-bottom: 5px;
}