.reviews__container-main {
    display: grid;

    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 15vh;

    grid-template-areas: 'reviews__h1 reviews__h1'
        'reviews__container-circle reviews__container-circle';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto min-content;

    scroll-margin-top: 11em;


    /*это основной круглый блок*/
    .reviews__container-circle {
        display: grid;

        background-color: $background-color;
        border: 3px solid $button-color-one;
        border-radius: 25px;
        color: $main-text-color;

        width: 6000%;
        margin: 0 auto;
        padding: 5%;

        grid-area: reviews__container-circle;

        .reviews__h2 {
            font-family: 'Inter', sans-serif;
            font-size: 2.2em;
            color: #3E2E3B;
        }
    }

    .reviews__h1 {
        font-family: 'Caveat', cursive;
        font-size: 6.5em;
        line-height: 80%;
        color: #3E2E3B;
        width: 100%;
        text-wrap: nowrap;

        grid-area: reviews__h1;

    }

    /*это плашки круглые с результатами*/
    .reviews__container {
        display: flex;
        flex-direction: row;

        text-align: center;
        text-wrap: nowrap;
        align-items: center;

        .reviews__results-text {


            background-color: $background-color;
            border: 3px solid $button-color-one;
            border-radius: 38px;
            color: $main-text-color;
            padding: 1%;
            margin: 1.5%;
            width: 20%;
        }
    }

    .reviews__list {
        list-style: circle;
    }

}

/*slider part start*/
#review__menu-main {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -400px;
    border-radius: 5px;
    width: 100%;
    height: 30%;
    overflow: hidden;
}

#review__menu-main button {
    position: absolute;
    height: 100%;
    padding: 25px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 30px;
    background: rgba(0, 0, 0, 0.2);
    background: transparent;
    border: none;
    cursor: pointer;
}

#review__menu-main button:active {
    opacity: 0.5;
}

.review__menu__left-button {
    left: -2px;
    border-radius: 5px 0 0 5px;
}

.review__menu__right-button {
    right: -2px;
    border-radius: 0 5px 5px 0;
}

#menu_div {
    width: 100%;
    height: 30%;
    transition: .8s;
}


.reviews__articles {
    display: inline-block;
    padding: 25px 70px 25px 60px;
    width: 670px;
    vertical-align: top;
}