.reviews__container-main {
  display: flex;
  flex-direction: column;

  margin-left: 10%;
  grid-template-rows: auto 500px;

  scroll-margin-top: 11em;


  /*это основной круглый блок*/
  .reviews__container-circle {
    display: grid;

    background-color: $background-color;
    border: 3px solid $button-color-one;
    border-radius: 25px;
    color: $main-text-color;

    margin: 0 auto;
    padding: 5%;

    grid-area: reviews__container-circle;

    .reviews__h2 {
      font-family: 'Inter', sans-serif;
      font-size: 2.2em;
      color: #3E2E3B;
    }
  }

  .reviews__h1 {
    font-family: 'Caveat', cursive;
    font-size: 4.2em;
    line-height: 80%;
    color: #3E2E3B;
    width: 100%;
    text-wrap: nowrap;
    // margin-left: 10%;

    grid-area: reviews__h1;

  }


  /*это плашки круглые с результатами*/
  .reviews__container {
    display: flex;
    flex-direction: row;

    text-align: center;
    flex-wrap: wrap;
    white-space: nowrap;
    align-items: center;

    .reviews__results-text {
      background-color: $background-color;
      border: 3px solid $button-color-one;
      border-radius: 38px;
      color: $main-text-color;
      padding: 1%;
      margin: 1.5%;
    }
  }

  .reviews__list {
    list-style: circle;
  }

}

/*slider part start*/
.reviews__articles {
  display: inline-block;
  padding: 25px 70px 25px 60px;
  width: 1000px;
  vertical-align: top;
}

.reviews__slider {
  position: relative;
  height: 725px;
  display: flex;
  justify-content: center;
}

#review__menu-main {
  overflow: hidden;
  position: absolute;
  border-radius: 5px;
  width: 1000px;
  height: 725px;
}

.review__menu_button {
  position: absolute;
  height: 100%;
  padding: 25px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 30px;
  background: transparent;
  border: none;
  font-family: "Titillium Web";
  cursor: pointer;
}

.review__arrow {
  background: transparent;
  padding: 8px;
  border-radius: 50%;
  width: 36px;
  transition: .3s;
  font-size: 16px;
}

.review__arrow:hover {
  background: rgba(0, 0, 0, 0.2);
  padding: 8px;
  border-radius: 50%;
  transition: .3s;
}

.review__menu_button:active {
  opacity: 0.5;
}

.review__left_button {
  left: -2px;
  border-radius: 5px 0 0 5px;
}

.review__right_button {
  right: -2px;
  border-radius: 0 5px 5px 0;
}

#review__menu {
  width: 3000%;
  height: 725px;
  transition: .5s;
  display: flex;
  align-items: center;
}