/*values*/

.values {
    max-width: 100vw;
    margin-left: 8%;
    margin-right: 8%;
    scroll-margin-top: 15em;
    padding-bottom: 1%;
}

.values_h1 {
    font-size: 4.2em;
    font-weight: 400;
    margin-bottom: 0px;
    color: #3E2E3B;
    line-height: 0.5rem;
}

.values_containers {
    display: flex;
    margin-top: 0px;
    justify-items: center;
    justify-content: space-evenly;
}

.values_containers-items {
    background-color: #B9D0DF;
    border-radius: 17px;
    gap: 10px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.values_containers-text {
    font-size: 1.2rem;
    font-weight: 400;
    color: #3E2E3B;
    margin: 25px;
}

.img_corner-1 {
    position: relative;
    top: 90px;
    right: 62px;
    margin-top: 0px;

}

.img_corner-2 {
    position: relative;
    bottom: 90px;
    left: 93.5%;
    
}