/*values*/

.values {
    margin-left: 10%;
    margin-right: 10%;
    scroll-margin-top: 15em;
    padding-bottom: 5%;
}

.values_h1 {
    font-size: 4.2em;
    color: #3E2E3B;
}

.values_containers {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    gap: 5%;
}

.values_containers-items {
    background-color: #B9D0DF;
    border-radius: 10px;
    gap: 5%;
    max-width: 456px;
    text-align: center;
}

.values_containers-text {
    font-size: 24px;
    font-weight: 400;
    color: #3E2E3B;
}