@charset "UTF-8";
/*задаем цвета, добавила пока примерную структуру, чтобы не забыть (:
$background-color: #E8D8CB;
$purple: #CDB0E3;
$pink?: #E2B2B5;
$orange: #F4CB7C;
$blue: #B9D0DF;
$wine: #91778C; (!пока стоит как MAIN-COLOR!)

*/
/*пока тоже примерно, шаблон из статьи 7 недели: https://itgirlschool.notion.site/7-d538acf66018487ea0b5b12167679fc9*/
@media screen and (max-width: 768px) {
  .requests__container-main {
    padding: 20px;
  }
}
/*
Основной код для разрешения 1024px 
@media screen and (min-width: 2560px) {
     стили для больших мониторов с разрешением 4K 
}
@media screen and (min-width: 1440px) {
    стили для больших настольных компьютеров и ноутбуков 
}
@media screen and (max-width: 1024px) {
     стили для планшета в альбомной ориентации 
}
@media screen and (max-width: 768px) {
     стили для планшета 
}
@media screen and (max-width: 425px) {
    стили для широкого смартфона 
}
@media screen and (max-width: 375px) {
    стили для среднего смартфона
}
@media screen and (max-width: 320px) {
    стили для малого смартфона 
} */
/*  Header */
.header__container {
  position: sticky;
  -webkit-position: sticky;
  top: 0;
  display: grid;
  width: 100%;
  grid-template-columns: 14.3% 1fr;
  grid-template-rows: 1fr;
  color: #3E2E3B;
  background-color: #E8D8CB;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.header__nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  justify-items: center;
}

.header__logo-link {
  width: 75%;
  justify-self: center;
  margin-top: 15%;
}

.header__logo {
  width: 100%;
}

.header__logo-link:hover {
  width: 80%;
}

.header__link {
  margin: 5% 1% 5% 1%;
  text-align: center;
  text-wrap: nowrap;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 500;
  transition: width 1s;
}

.header__link:hover {
  color: #E2B2B5;
  font-size: 1.6em;
}

.header__contacts {
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 5%;
  align-items: center;
}

.header__contact {
  width: 77.8px;
}

.header__contact:hover {
  width: 90px;
}

.first-page__container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: stretch;
  justify-items: center;
  scroll-margin-top: 15em;
}

.first-page__main {
  display: flex;
  flex-direction: column;
}

.first-page__title {
  margin-left: 17%;
  font-family: "Caveat", cursive;
  font-size: 10em;
  line-height: 60%;
  color: #3E2E3B;
}

.first-page__subtitle {
  margin-left: 17%;
  font-family: "Caveat";
  font-size: 3em;
  line-height: 60%;
  color: #3E2E3B;
}

.first-page__text {
  margin-left: 17%;
  font-size: 1.5em;
}

.first-page__item {
  list-style-type: disc;
}

.first-page__link {
  margin-left: 17%;
}

.first-page__button {
  background-color: #CCB0E3;
  border: 1px solid #CCB0E3;
  border-radius: 50px;
  color: #3E2E3B;
  cursor: pointer;
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.7em;
  margin: 0;
  outline: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s, transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: 303px;
}

.first-page__button:hover {
  border: 1px solid #222222;
}

.first-page__img {
  width: 75%;
  margin-left: 10%;
}

/* about me page */
.about-me__img img {
  width: 50%;
}

.about-me__h1 {
  font-family: "Caveat", cursive;
  font-size: 6.5em;
  line-height: 80%;
  color: #3E2E3B;
}

.about-me__container {
  padding-top: 15vh;
  padding-bottom: 15vh;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  justify-content: space-around;
  scroll-margin-top: 6em;
}
.about-me__container .about-me__text {
  width: 80%;
  line-height: 1.9rem;
  text-align: left;
}
.about-me__container .about-me__text2 {
  color: black;
  font-family: Caveat;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 45.4px;
}

.about-me__main {
  display: flex;
  flex-direction: column;
}

.education__h1 {
  font-family: "Caveat", cursive;
  font-size: 8em;
  line-height: 80%;
  padding-left: 10%;
}

.education__container {
  scroll-margin-top: 12em;
}

.education__main {
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
}

.education__text__main {
  width: 60%;
  padding-bottom: 5vh;
}

.education__text {
  border-bottom: solid 1px black;
  border-top: 1px solid black;
  padding: 3%;
}

/* experience page */
.experience__img .experience__img img {
  width: 50%;
}

.experience__h1 {
  font-family: "Caveat", cursive;
  font-size: 6.5em;
  line-height: 80%;
  color: #3E2E3B;
}

.experience__container {
  display: flex;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}
.experience__container .experience__list {
  line-height: 1.9rem;
  width: 65%;
}

.experience__main {
  display: flex;
  flex-direction: row;
  justify-items: center;
  margin-right: 10%;
}
.experience__main .experience__text-main {
  flex-direction: column;
}

/* requests */
.requests__container-main {
  margin-left: 10%;
  margin-right: 10%;
}

.requests__h1 {
  font-size: 6.5em;
  color: #3E2E3B;
}

.requests__text {
  list-style: circle;
}

/*  Prices */
.prices__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr 1fr;
  gap: 10%;
  justify-content: center;
  justify-items: center;
  scroll-margin-top: 8em;
}

.prices__h1 {
  font-family: "Caveat", cursive;
  font-size: 8em;
  line-height: 80%;
  padding-left: 10%;
  display: grid;
  grid-column: 1/3;
  justify-content: center;
  align-items: center;
}

.services_text {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1.5em;
}

.btn_sign {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s, transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.services {
  border: solid 1px none;
  border-radius: 5%;
  background-color: #E2B2B5;
  width: 30em;
  height: 30em;
  display: grid;
  grid-row: 2;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

/*  Footer */
.footer__menu {
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 5px;
}

.footer_menu_list {
  font-size: 20px;
  font-weight: 400px;
}

.footer__menu-item + .footer__menu-item {
  padding-top: 10px;
}

.logo__footer {
  max-width: 100px;
  max-height: 100px;
}

.button__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  padding: 20px;
}

.button-footer {
  background-color: #fff;
  border: 1px solid #222222;
  border-radius: 8px;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s, transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-footer {
  display: grid;
  grid-column: 1/3;
  grid-row: 1;
}

.footer__menu-item {
  display: grid;
  grid-column: 1/3;
  grid-row: 2;
}

.footer__menu-item a:after {
  background-color: #E2B2B5;
  /* Цвет линии при наведении на нее курсора мыши */
  display: block;
  content: "";
  height: 2px;
  /* Высота линии */
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.footer__menu-item a:hover:after,
.footer__menu-item a:focus:after {
  width: 100%;
}

.footer__menu_list-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__social-media {
  max-width: 30px;
  max-height: 30px;
}

.logo__social-media1 {
  max-width: 28px;
  max-height: 28px;
}

body {
  color: #91778C;
  font-family: "Inter", sans-serif;
  background-color: #E8D8CB;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Caveat", cursive;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.25s ease;
}

li {
  list-style: none;
}

/*# sourceMappingURL=index.css.map */
